@page
@model Exer3.Pages.OrderModel
@{
    ViewData["Title"] = "Order View";
    Layout = "_Layout";
}

<div class="col-6 m-auto">
    <h2>Order View</h2>
    <form method="post">
        <div class="input-group">
            <label class="form-group-text">Agent</label>
            <select class="form-select" asp-for="agentId" asp-items="Model.agentList"></select>
            <button type="submit" class="btn btn-success" asp-page-handler="CreateOrd">Create Order</button>
        </div>

        <div class="input-group">
            <label class="form-group-text">Order</label>
            <select class="form-select" asp-for="orderId" asp-items="Model.orderList"></select>
            <button type="submit" class="btn btn-primary" asp-page-handler="GetReport">Show Report</button>
        </div>

        <button type="submit" class="btn btn-primary" asp-page-handler="GetOrders">Get Orders</button>
    </form>

    @if (Model.showReportMode)
    {
        <table class="table">
            <thead>
                <td>Order ID</td>
                <td>Item ID</td>
                <td>Quantity</td>
                <td>Unit Amount</td>
            </thead>

            @foreach (OrderDetail detail in Model.orderReportList)
            {
                <tr>
                    <td>@detail.OrderID</td>
                    <td>@detail.ItemID</td>
                    <td>@detail.Quantity</td>
                    <td>@detail.UnitAmount</td>
                </tr>
                
            }
        </table>
    }
    else
    {
        <table class="table">
            <thead>
                <td>Order ID</td>
                <td>Order Date</td>
                <td>Agent ID</td>
            </thead>

            @foreach(Order order in Model.ordersList)
            {
                <tr>
                    <td>@order.OrderID</td>
                    <td>@order.OrderDate</td>
                    <td>@order.AgentID</td>
                </tr>
            }
        </table>
    }
</div>